:local(.container) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  width: 700px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 8px #c1bfbf;
}

:local(.message) {
  padding: 4px;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin: 5px;
  padding-left: 15px;
  color: #333;
  padding-bottom:15px;
}
