:local(.container) {
  /*border: 1px solid green;*/
  padding: 8px;
}

:local(.input) {
  width: 210px;
  height: 35px;
  margin: 5px;
  font-size: 15px;
  padding-left: 10px;
}

:local(.button) {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #da3743;
  color: #FFF;
  width: 160px;
  height: 35px;
  border-radius: 2px;
  margin: 5px;
  font-size: 15px;
}

:local(.button:hover) {
  background-color: #b22c36;
  cursor: pointer;
}

:local(.showName) {
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  padding-left: 5px;
  color: #777;
  font-size: 20px;
  height: 35px;
  padding-top: 11px;
}
